In [266]:
import time
import random
import logging
import requests
import psycopg2
import schedule
import json
import os
pd.set_option('display.max_columns', None)

In [267]:
hh_api_token = 'GP4E5D9L7BQJ5CV07EN76NINTE8RU9SMFHCC4O24E5OJOUVOF2OUJAJ04JC7JGA5'

In [268]:
start = time.time()
import pandas as pd
A=[]
B=[]
for i in range(20): #"description": "you can't look up more than 2000 items in the list",
    try:
        s='https://api.hh.ru/vacancies?text=SQL&specialization=1&per_page=100&page='+str(i) ##можно вместо SQL другой текст пробовать.
        A.append(s)
    except:
        continue
for i in A:
    response=requests.get(i)
    try:
        B.append(pd.DataFrame(response.json()['items']))
    except KeyError:
        continue
df=pd.concat(B, axis=0).reset_index()   
end = time.time()
print(end - start) #seconds

15.036333799362183

In [ ]:
"""
https://ru.stackoverflow.com/questions/1222089/%d0%9a%d0%b0%d0%ba-%d1%81-hh-ru-%d1%81%d0%bf%d0%b0%d1%80%d1%81%d0%b8%d1%82%d1%8c-%d0%b1%d0%be%d0%bb%d0%b5%d0%b5-2000-%d0%b7%d0%b0%d0%bf%d0%b8%d1%81%d0%b5%d0%b9#:~:text=%D0%9D%D0%B0%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%80,%20%D0%B2%D0%BE%D0%B7%D0%BC%D0%BE%D0%B6%D0%B5%D0%BD%20%D0%B7%D0%B0%D0%BF%D1%80%D0%BE%D1%81
К сожалению HH не выдаёт больше 2000 вакансий ни по какому запросу, ни через API, ни через браузер. 
"""

In [269]:
df.head(5)

,index,id,premium,name,department,has_test,response_letter_required,area,salary,type,address,response_url,sort_point_distance,published_at,created_at,archived,apply_alternate_url,branding,show_logo_in_search,insider_interview,url,alternate_url,relations,employer,snippet,contacts,schedule,working_days,working_time_intervals,working_time_modes,accept_temporary,professional_roles,accept_incomplete_resumes,experience,employment,adv_response_url,is_adv_vacancy,adv_context
0,0,93343681,False,QA Automation Engineer,"{'id': '866666-866666-IT', 'name': 'BetBoom.IT'}",False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}",None,None,None,2024-08-30T11:19:17+0300,2024-08-30T11:19:17+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,"{'type': 'MAKEUP', 'tariff': None}",True,None,https://api.hh.ru/vacancies/93343681?host=hh.ru,https://hh.ru/vacancy/93343681,[],"{'id': '866666', 'name': 'BetBoom', 'url': 'ht...",{'requirement': 'У тебя есть от 3-х лет стажа ...,None,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",None,False,None
1,1,106717345,False,Начинающий специалист - Тестировщик,None,False,False,"{'id': '2', 'name': 'Санкт-Петербург', 'url': ...","{'from': 80000, 'to': 123000, 'currency': 'RUR...","{'id': 'open', 'name': 'Открытая'}",None,None,None,2024-09-03T14:41:26+0300,2024-09-03T14:41:26+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,NaN,None,https://api.hh.ru/vacancies/106717345?host=hh.ru,https://hh.ru/vacancy/106717345,[],"{'id': '11400878', 'name': 'Голямов Сергей Сер...","{'requirement': None, 'responsibility': 'Работ...",None,"{'id': 'remote', 'name': 'Удаленная работа'}",[],[],[],True,"[{'id': '40', 'name': 'Другое'}]",True,"{'id': 'noExperience', 'name': 'Нет опыта'}","{'id': 'full', 'name': 'Полная занятость'}",None,False,None
2,2,107157266,False,Системный администратор в автомобильный бизнес...,None,False,False,"{'id': '53', 'name': 'Краснодар', 'url': 'http...","{'from': 150000, 'to': None, 'currency': 'RUR'...","{'id': 'open', 'name': 'Открытая'}",None,None,None,2024-09-11T20:04:08+0300,2024-09-11T20:04:08+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,NaN,None,None,https://api.hh.ru/vacancies/107157266?host=hh.ru,https://hh.ru/vacancy/107157266,[],"{'id': '4764116', 'name': 'EXPOCAR', 'url': 'h...",{'requirement': 'Опыт работы системным админис...,None,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '113', 'name': 'Системный администрато...",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",None,False,None
3,3,107215014,False,Тестировщик ПО (ручное),None,False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}","{'city': 'Москва', 'street': 'Хорошёвское шосс...",None,None,2024-09-12T17:44:18+0300,2024-09-12T17:44:18+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,"{'type': 'MAKEUP', 'tariff': None}",True,None,https://api.hh.ru/vacancies/107215014?host=hh.ru,https://hh.ru/vacancy/107215014,[],"{'id': '3102126', 'name': '7тек', 'url': 'http...",{'requirement': 'Опыт работы с системами баг-т...,None,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False,"{'id': 'between1And3', 'name': 'От 1 года до 3...","{'id': 'full', 'name': 'Полная занятость'}",None,False,None
4,4,107207516,False,QA engineer,"{'id': 'retail-4233-media', 'name': 'X5 GROUP,...",False,False,"{'id': '1', 'name': 'Москва', 'url': 'https://...",None,"{'id': 'open', 'name': 'Открытая'}",None,None,None,2024-09-12T15:56:22+0300,2024-09-12T15:56:22+0300,False,https://hh.ru/applicant/vacancy_response?vacan...,"{'type': 'MAKEUP', 'tariff': None}",True,"{'id': '31084', 'url': 'https://hh.ru/intervie...",https://api.hh.ru/vacancies/107207516?host=hh.ru,https://hh.ru/vacancy/107207516,[],"{'id': '4233', 'name': 'Х5 Group', 'url': 'htt...",{'requirement': 'Опыт локализации ошибок и сос...,None,"{'id': 'fullDay', 'name': 'Полный день'}",[],[],[],False,"[{'id': '124', 'name': 'Тестировщик'}]",False,"{'id': 'between3And6', 'name': 'От 3 до 6 лет'}","{'id': 'full', 'name': 'Полная занятость'}",None,False,None

In [271]:
dfn=pd.json_normalize(df.to_dict(orient='records'))[['id','name','salary','salary.from','salary.to','salary.currency','salary.gross','created_at', 'area.name','employer.name','schedule.name','employer.accredited_it_employer']]
dfn.head(5)

,id,name,salary,salary.from,salary.to,salary.currency,salary.gross,created_at,area.name,employer.name,schedule.name,employer.accredited_it_employer
0,93343681,QA Automation Engineer,NaN,NaN,NaN,NaN,NaN,2024-08-30T11:19:17+0300,Москва,BetBoom,Полный день,False
1,106717345,Начинающий специалист - Тестировщик,NaN,80000.0,123000.0,RUR,False,2024-09-03T14:41:26+0300,Санкт-Петербург,Голямов Сергей Сергеевич,Удаленная работа,False
2,107157266,Системный администратор в автомобильный бизнес...,NaN,150000.0,NaN,RUR,True,2024-09-11T20:04:08+0300,Краснодар,EXPOCAR,Полный день,False
3,107215014,Тестировщик ПО (ручное),NaN,NaN,NaN,NaN,NaN,2024-09-12T17:44:18+0300,Москва,7тек,Полный день,False
4,107207516,QA engineer,NaN,NaN,NaN,NaN,NaN,2024-09-12T15:56:22+0300,Москва,Х5 Group,Полный день,False

In [242]:
dfn['name'] = dfn['name'].str.lower()

In [243]:
import datetime
df_dq=dfn[dfn['name'].str.contains('dq|data quality|качества|dwh|data steward|dg|data governance', na=False)]
df_dq['dateedit']=datetime.datetime.now()
result=df_dq[['dateedit','id','name','salary','salary.from','salary.to','salary.currency','salary.gross','created_at', 'area.name','employer.name','schedule.name','employer.accredited_it_employer']]
result

C:\Users\Павел\AppData\Local\Temp\ipykernel_19232\3647048960.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dq['dateedit']=datetime.datetime.now()

,dateedit,id,name,salary,salary.from,salary.to,salary.currency,salary.gross,created_at,area.name,employer.name,schedule.name,employer.accredited_it_employer
307,2024-09-13 07:30:56.362912,107173329,dwh разработчик,NaN,NaN,420000.0,RUR,True,2024-09-12T09:17:47+0300,Москва,Volna.tech,Полный день,True
327,2024-09-13 07:30:56.362912,106572502,аналитик dwh,NaN,NaN,NaN,NaN,NaN,2024-08-30T15:35:27+0300,Москва,IconSoft,Удаленная работа,True
721,2024-09-13 07:30:56.362912,107129025,аналитик sql- качества данных,NaN,NaN,NaN,NaN,NaN,2024-09-11T12:51:08+0300,Москва,Т1,Удаленная работа,True
967,2024-09-13 07:30:56.362912,106085111,"аналитик dwh, удаленно",NaN,NaN,200000.0,RUR,False,2024-08-20T21:08:45+0300,Москва,ВкусВилл,Удаленная работа,False
1260,2024-09-13 07:30:56.362912,105880125,аналитик качества данных,NaN,NaN,NaN,NaN,NaN,2024-08-15T17:38:00+0300,Москва,СБЕР,Полный день,False
1682,2024-09-13 07:30:56.362912,106406221,junior разработчик dwh (rms),NaN,NaN,NaN,NaN,NaN,2024-08-28T17:54:26+0300,Москва,МТС,Полный день,True
1727,2024-09-13 07:30:56.362912,102865677,аналитик bi (отчетность dwh),NaN,NaN,NaN,NaN,NaN,2024-09-09T15:31:01+0300,Москва,Т-Банк,Полный день,True
1875,2024-09-13 07:30:56.362912,107196741,data engineer (dwh),NaN,180000.0,300000.0,RUR,False,2024-09-12T13:26:52+0300,Москва,Excdev,Удаленная работа,False

In [244]:
#Теперь это укладываем в базу в стейдж слой
"""
CREATE TABLE IF NOT EXISTS public.vcns
(
    dateedit timestamp without time zone,
    id integer NOT NULL,
    name character varying COLLATE pg_catalog."default",
    salary character varying COLLATE pg_catalog."default",
    salary_from character varying COLLATE pg_catalog."default",
    salary_to character varying COLLATE pg_catalog."default",
    salary_currency character varying COLLATE pg_catalog."default",
    salary_gross character varying COLLATE pg_catalog."default",
    created_at timestamp with time zone,
    area_name character varying COLLATE pg_catalog."default",
    employer_name character varying COLLATE pg_catalog."default",
    schedule_name character varying COLLATE pg_catalog."default",
    employer_accredited_it character varying COLLATE pg_catalog."default",
    CONSTRAINT vcns_pkey PRIMARY KEY (id)
)
"""

In [249]:
db_config = {
    'dbname': 'tst',
    'user': 'postgres',
    'password': 'postgres',
    'host': '127.0.0.1',
    'port': '5432'
}
from sqlalchemy import create_engine
postgresql_url = 'postgresql://postgres:postgres@localhost:5432/tst'
engine = create_engine(postgresql_url)

In [250]:
import psycopg2
import pandas as pd
try:
    # пытаемся подключиться к базе данных
    conn = psycopg2.connect(dbname='tst', user='postgres', password='postgres',
                            host='127.0.0.1', port='5432')

except:
    # в случае сбоя подключения будет выведено сообщение в STDOUT
    print('Can`t establish connection to database')

query = """SELECT * FROM public.vcns;"""
pd.read_sql(query, conn)

C:\Users\Павел\AppData\Local\Temp\ipykernel_19232\329261950.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

Empty DataFrame
Columns: [dateedit, id, name, salary, salary_from, salary_to, salary_currency, salary_gross, created_at, area_name, employer_name, schedule_name, employer_accredited_it]
Index: []

In [251]:
result_tuple=[tuple(result) for result in result.to_numpy()]
from psycopg2.extras import execute_values
insert_sql = "INSERT INTO public.vcns  VALUES %s"
cur = conn.cursor()
execute_values(cur, insert_sql, result_tuple)
conn.commit()

In [254]:
#Проверяем + закрываем соединение
try:
    conn = psycopg2.connect(dbname='tst', user='postgres', password='postgres',
                            host='127.0.0.1', port='5432')
except:
    print('Can`t establish connection to database')
query = """SELECT * FROM public.vcns;"""
pd.read_sql(query, conn)

C:\Users\Павел\AppData\Local\Temp\ipykernel_19232\472800446.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, conn)

,dateedit,id,name,salary,salary_from,salary_to,salary_currency,salary_gross,created_at,area_name,employer_name,schedule_name,employer_accredited_it
0,2024-09-13 07:30:56.362912,107173329,dwh разработчик,NaN,NaN,420000.0,RUR,true,2024-09-12 06:17:47+00:00,Москва,Volna.tech,Полный день,true
1,2024-09-13 07:30:56.362912,106572502,аналитик dwh,NaN,NaN,NaN,NaN,NaN,2024-08-30 12:35:27+00:00,Москва,IconSoft,Удаленная работа,true
2,2024-09-13 07:30:56.362912,107129025,аналитик sql- качества данных,NaN,NaN,NaN,NaN,NaN,2024-09-11 09:51:08+00:00,Москва,Т1,Удаленная работа,true
3,2024-09-13 07:30:56.362912,106085111,"аналитик dwh, удаленно",NaN,NaN,200000.0,RUR,false,2024-08-20 18:08:45+00:00,Москва,ВкусВилл,Удаленная работа,false
4,2024-09-13 07:30:56.362912,105880125,аналитик качества данных,NaN,NaN,NaN,NaN,NaN,2024-08-15 14:38:00+00:00,Москва,СБЕР,Полный день,false
5,2024-09-13 07:30:56.362912,106406221,junior разработчик dwh (rms),NaN,NaN,NaN,NaN,NaN,2024-08-28 14:54:26+00:00,Москва,МТС,Полный день,true
6,2024-09-13 07:30:56.362912,102865677,аналитик bi (отчетность dwh),NaN,NaN,NaN,NaN,NaN,2024-09-09 12:31:01+00:00,Москва,Т-Банк,Полный день,true
7,2024-09-13 07:30:56.362912,107196741,data engineer (dwh),NaN,180000.0,300000.0,RUR,false,2024-09-12 10:26:52+00:00,Москва,Excdev,Удаленная работа,false

In [255]:
#Закрываем соединение
conn.close()

In [ ]:
#Дальше делаем ETL, который будет докидывать новые записи с флагом актуал=1 и ставить флаг=0 при пропаже существующих